:root {
  --page-bg-color: #f9f9fd;
  --primary-text-color: #212121;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--card-set-gap);
  padding-right: var(--card-set-gap);

  width: 1100px;
  /* background-color: orchid; */
  /* outline: 1px solid orange; */
}

/* CONTAINER */
.container {
  width: 960px;

  min-height: 100px;
  padding-left: var(--card-set-gap);
  padding-right: var(--card-set-gap);
  margin-left: auto;
  margin-right: auto;
  /* background-color: #ccc; */
}

.card-set {
  /* outline: 2px dotted red; */
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  /* outline: 2px dashed teal; */
  flex-basis: calc(100% / 4 - var(--card-set-gap));

  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

/* CARD */

.card {
  box-shadow: var(--card-shadow);
  border-radius: 10px;
  overflow: hidden;
}

.card-thumb {
  /* outline: 1px solid rebeccapurple; */
}

.card-content {
  padding: calc(var(--card-set-gap) / 2);
}

.card-heading {
  /* margin-top: calc(var(--card-set-gap) / 2); */
}

.card-text {
  margin-top: calc(var(--card-set-gap) / 2);
}

.item * {
  /* outline: 1px solid tomato; */
}
